{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block body %}
    {{ macros.header('help') }}
<div id="wrapper">
<h1 id="">快速上手</h1>

<ol>
    <li>若是使用PCMan，請到<code>選項 -&gt; 自訂PCMan各項設定 -&gt; 站台選項 -&gt; &#8220;貼上文字太長超過…自動換行&#8221;</code> 這個選項關掉</li>
<li>在首頁輪入鄉民日報的內容後，按下轉換鍵</li>
<li>複製轉換後的結果，再貼到PTT的八卦版XD</li>
</ol>

<h1 id="">詳細說明</h1>

<h2 id="">日報頭條</h2>

<ul>
<li>作者、日期、編號的資訊會放在鄉民日報的圖案處</li>
<li>頭條內的第一行文字會放在紅底的框框中</li>
<li>頭條內的第二行文字之後會放在紅邊的框框中，不限行數</li>
</ul>

<h2 id="">內文語法</h2>

<p>內文語法目前支援兩種標題：大標題與小標題</p>

<ul>
<li>大標題： 開頭為一個井字符號 (#)</li>
<li>小標題： 開頭為兩個井字符號 (##)</li>
</ul>

<p>標題的樣式可以到&#8220;調整樣式&#8221;頁面修改</p>

<p>另外，也可以直接在內文裡面加入ANSI控制碼，例如在內文輸入 <em>*[1;33m這是黃字 *[m</em>就會出現 <font color=#990>這是黃字</font></p>

<h2 id="">調整樣式</h2>

<p>目前可以調整三個樣式，分別是大標題、小標題、結尾。一樣可以加入ANSI控制碼。</p>

<ul>
    <li>注意事項：大標題與小標題處，請用<code>標題</code>來設計樣式。</li>
    (程式其實只是把內文的字串代換掉這兩個字而已XD)
</ul>
</div>
{% endblock %}

