<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" />
    <title>Russian Roulette</title>
    <script language="javascript">
        function setCookie(c_name, value) { 
            expiredays = 100;
            var exdate = new Date()
            exdate.setDate(exdate.getDate() + expiredays)
            document.cookie = c_name + "=" + escape(value) + ";expires=" + exdate.toGMTString();
        }

        function getCookie(c_name) {
            if (document.cookie.length == 0) {
                return null;
            }
            c_start=document.cookie.indexOf(c_name + "=")
            if (c_start == -1) { 
                return null;
            }
            c_start = c_start + c_name.length + 1 
            c_end = document.cookie.indexOf(";",c_start)
            if (c_end == -1) {
                c_end = document.cookie.length
            }
            return unescape(document.cookie.substring(c_start,c_end))
        }

        function checkCookie() {
            items = getCookie('items')
            if (items == null) {
                items = "親來食堂\n有錢真好\n馬玲薯咖哩";
                setCookie('items', items);
            }
            document.getElementById("items").value = items;
        }


        function randomInt(n) {
            return Math.floor(Math.random() * n);
        }
        function isEmptyString(element, index, array) {
            return (element.replace(/\ /g, '').length > 0);
        }
        function show() {
            var items = document.getElementById("items").value.split("\n").filter(isEmptyString);
            var button = document.getElementById("showbutton");
            if (items.length == 0) {
                alert("Please enter something");
            } else {
                alert(items[randomInt(items.length)]);
                setCookie('items', items.join("\n"));
            }
        }
    </script>
</head>

<body onLoad="checkCookie()">
    <center>
        <form class="pure-form pure-form-stacked">
            <textarea id="items" rows="12" cols="50"></textarea>
            <button class="pure-button pure-button-primary" id="showbutton" type="button" onClick="show()">Show</button>
        </form>
    </center>
</body>
</html>
