{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block body %}
    {{ macros.header('home') }}
    <div class="pure-g">
        <div class="pure-u-1-2">
            <center>
            <form class="pure-form pure-form-aligned" action="/" method="POST">
                <div class="pure-control-group">
                    <label for="author">作者</label>
                    <input id="author" name="author" type="text" placeholder="meowmeowgo" value="{{ request['author'] }}">
                </div>

                <div class="pure-control-group">
                    <label for="date">日期</label>
                    <input id="date" name="date" type="text" placeholder="2014.05.30" value="{{ request['date'] }}">
                </div>

                <div class="pure-control-group">
                    <label for="number">編號</label>
                    <input id="number" name="number" type="number" placeholder="1" value="{{ request['number'] }}">
                </div>

                <div class="pure-control-group">
                    <label for="headline">頭條</label>
                    <textarea id="headline" name="headline" rows="8">{{ request['headline'] }}</textarea>
                </div>

                <div class="pure-control-group">
                    <label for="content">內文</label>
                    <textarea id="content" name="content" rows="22">{{ request['content'] }}</textarea>
                </div>

                <input type="hidden" name="action" value="convert">
                <input type="submit" class="pure-button pure-button-primary" value="轉換">
            </form>
            </center>
        </div>

        <div class="pure-u-1-2">
            <textarea id="result" rows="40" onfocus="this.select()" onmouseover="this.focus()">{{ result }}</textarea>
        </div> 
    </div>
{% endblock %}

