<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" />
    <title>PttDaily Generator</title>
    <script language="javascript">
        function setCookie(c_name, value) { 
            expiredays = 100;
            var exdate = new Date()
            exdate.setDate(exdate.getDate() + expiredays)
            document.cookie = c_name + "=" + escape(value) + ";expires=" + exdate.toGMTString();
        }

        function getCookie(c_name) {
            if (document.cookie.length == 0) {
                return null;
            }
            c_start=document.cookie.indexOf(c_name + "=")
            if (c_start == -1) { 
                return null;
            }
            c_start = c_start + c_name.length + 1 
            c_end = document.cookie.indexOf(";",c_start)
            if (c_end == -1) {
                c_end = document.cookie.length
            }
            return unescape(document.cookie.substring(c_start,c_end))
        }
    </script>
</head>

<body>
    <div class="header">
      <center>
          <h1>鄉民日報產生器</h1>
          <hr>
      </center>
    </div>
    <div class="content">
<div class="pure-g">
    <div class="pure-u-1-2">
        <center>
        <form class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="author">作者</label>
                    <input id="author" type="text" placeholder="meowmeowgo">
                </div>

                <div class="pure-control-group">
                    <label for="date">日期</label>
                    <input id="date" type="text" placeholder="2014.05.30">
                </div>

                <div class="pure-control-group">
                    <label for="number">編號</label>
                    <input id="number" type="number" placeholder="1">
                </div>

                <div class="pure-control-group">
                    <label for="headline">頭條</label>
                    <textarea id="headline" rows="7" cols="66"></textarea>
                </div>

                <div class="pure-control-group">
                    <label for="content">內文</label>
                    <textarea id="content" rows="30" cols="66"></textarea>
                </div>

                <button type="submit" class="pure-button pure-button-primary">轉換</button>
            </fieldset>
        </form>
        </center>
    </div>
    <div class="pure-u-1-2">
        <form class="pure-form pure-form-stacked">
            <label for="result">結果</label>
            <textarea id="result" rows="40" cols="66"></textarea>
        </form>
    </div>
</body>
</html>
