<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" />
    <title>PttDaily Generator</title>
</head>

<body>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <a class="pure-menu-heading"><h1>鄉民日報產生器</h1></a>
        <ul>
            <li class="pure-menu-selected"><a href="/">首頁</a></li>
            <li><a href="/style/">調整樣式</a></li>
        </ul>
    </div>
    <hr>

    <center>
        <form class="pure-form pure-form-aligned" action="/style/" method="POST">
            <div class="pure-control-group">
                <label for="headline">大標題</label>
                <textarea id="headline" name="headline" rows="8">{{ style.h1_template }}</textarea>
            </div>

            <div class="pure-control-group">
                <label for="headline">小標題</label>
                <textarea id="headline" name="headline" rows="8">{{ style.h2_template }}</textarea>
            </div>

            <div class="pure-control-group">
                <label for="content">結尾</label>
                <textarea id="content" name="content" rows="10">{{ style.footer }}</textarea>
            </div>

            <input type="hidden" name="action" value="convert">
            <input type="submit" class="pure-button pure-button-primary" value="儲存">
        </form>
      </center>
</body>
</html>
